<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonui 简历</title>
    <link rel="stylesheet" href="css/common.css">
    <script src="js/vue@3.js"></script>
</head>

<body style="margin-bottom: 100px;">
    <div id="info" class="divst">
        <div class="item" style="border-top: none;">
            <div class="content" style="width: 100%">
                <div class="myinfo">
                    <h1>
                        Sonui <a style="font-size: .5em; margin-left: 10px;">求职方向：研发</a>
                    </h1>
                    <div style="display: flex; flex-direction: row-reverse;">
                        <div class="contact">
                            <a href="tel:null">
                                <img alt="Phone" src="assets/phone-logo.svg">
                                null
                            </a><br />
                            <a href="mailto:me@sonui.cn">
                                <img alt="Email" src="assets/email-logo.svg">
                                me@sonui.cn
                            </a>
                        </div>
                        <div style="flex: 1;">
                            <span>
                                <a href="https://www.morfans.cn/author/sonui">
                                    <img alt="Blog" src="assets/blog-logo.svg">
                                    魔帆博客 - Sonui
                                </a>
                            </span>
                            <span>
                                <a href="https://github.com/sosyz">
                                    <img alt="GitHub" src="assets/github-logo.svg">
                                    Sonui
                                </a>
                            </span>
                            <div>
                                <p>
                                    <img alt="School" src="assets/address-logo.svg" style="height: 1em;
        padding-right: .25em;">
                                    内蒙某大学
                                </p>
                                <span>
                                    <img alt="Specialities" src="assets/school-logo.svg">
                                    本科 · 计算机科学与技术 2019.9 - 2023.7
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <h2>技能</h2>
            </div>
            <div class="content font-bigger">
                <ul style="line-height: 2.4em;">
                    <li>服务端开发：会用常用的网页服务端开发框架和语言 ( 如： Spring Boot、Gin、PHP) 的基本功能</li>
                    <li>客户端开发：会用常用的网页客户端开发框架和语言 ( 如： Vue) 的基本功能。对 Windows 程序开发有一定了解</li>
                    <li>偏好语言： Java, PHP, Golang, Python, Cpp</li>
                    <li>🎉拥有优秀的搜索能力和自我学习能力</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <h2>荣誉奖项</h2>
            </div>
            <div class="content">
                <div v-for="item in honor">
                    <div class="title">
                        <p>
                            <img alt="lanqiao" :src="'./assets/' + item.ico" style="height: 1em;" />
                            {{item.name + ' ' + item.lev}}</p>
                        <span>{{item.time}}</span>
                    </div>
                    <div class="caption">
                        <p v-for="caption in item.caption">{{caption}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <h2>项目经历</h2>
            </div>
            <div class="content">
                <div v-for="item in project">
                    <div class="title">
                        <h3>{{item.name}}</h3>
                        <span>{{item.time[0] + ' - ' + item.time[1]}}</span>
                    </div>
                    <div>
                        <p v-for="url in item.url">
                            <a :href="url.url">{{url.caption}}</a>
                        </p>
                        <p>职责：{{item.work}}</p>
                        <p>项目说明: {{item.content}}</p>
                        <p>技术栈： {{item.technology}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <h2>校园经历</h2>
            </div>
            <div class="content">
                <div v-for="item in schoolLife">
                    <div class="title">
                        <h3 v-html="item.name"></h3>
                        <span>{{item.time[0] + ' - ' + item.time[1]}}</span>
                    </div>
                    <div>
                        <p v-if="item.position" v-text="item.position"></p>
                        <p>{{item.content}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                <h2>其他</h2>
            </div>
            <div class="content">
                <div v-for="item in other">
                    <div class="title">
                        <h3 v-html="item.title"></h3>
                    </div>
                    <div>
                        <p>{{item.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>